<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h1>Hi <%= @user.first_name %></h1>
    <p>Your password was updated!</p>
</body>

</html>