.PostPreviewPaper {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
}

.PostPreviewPaper .BoxImg {
  margin-bottom: 10px;
}

.PostPreviewPaper .BoxImg > img {
  margin-bottom: 5px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 20px;
}