.ModalMotion {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 0;
  left: 25%;
  width: 50%;
  transition: all 0.3s ease-out;
  animation: openModal 0.4s ease-out forwards;
  margin-top: 5vh;
  max-height: calc(100vh - 10vh);
  overflow-y: auto;
}

@media(max-width: 919px) {
    .ModalMotion {
        left: 18%;
        width: 65%;
    }
}

@media(max-width: 480px) {
    .ModalMotion {
        left: 5%;
        width: 90%;
    }
}

.ModalMotionClosed {
  animation: closeModal 1s ease-out forwards;
}

@keyframes openModal {
  0% {
      opacity: 0;
      transform: translateY(-100%);
  }
  50% {
      opacity: 1;
      transform: translateY(90%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  50% {
      opacity: 0.8;
      transform: translateY(60%);
  }
  100% {
      opacity: 0;
      transform: translateY(-100%);
  }
}